/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The c lose button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

img {
  width: 50px;
  height: 50px;
}

.card {
  width: 600px;
  margin: auto;
  margin-bottom: 45px;
  font-family: 'Anton', sans-serif;
}

.view {
  text-align: left;
}

.like{
  float:right;
}

.profilepic {
  float: left;
  margin-top: -50px;
}

.header{
  float: right;
}

.input {
  margin-right: 5px;
}

.userLink {
  margin-top: 20px;
}

.label {
  font-size: 20px;
}
