body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.active {
  font-size: 17px;
}

.active2 {
  font-size: 17px;
}

.navbar-brand {
  font-size: 50px;
}


.GA {
  color: red;
  font-weight: bold;
}

.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

  .whiteback {
    background-color: white
  }

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

h2 {
  background-color: #F5F5F5;
}



  .rightAdj {
    float: right
  }

  .profilePic {
    float: left;
    margin: 0 0 0 25px;
  }

  .leftAdj {
    margin: 0 0 0 25px;
    float: left;
  }

  .post {
    background-color: rgb(211,211,211);
    text-align: left;
  }

  .mainPost {
    border-bottom: 2px solid rgb(34,34,34);
  }

  .posts {
    font-size: 20px;
    background-color: white;
      border: 2px solid rgb(34, 34, 34);
      border-radius: 5px;
      padding: 5px 0px 100px 10px;
      margin: 25px;
      text-align: left;
  }

  .like {
    text-align: right;
    float: right;
  }

  .userPost {
    float: left;
  }
  .likes {
    margin: 10px 20px 0 0;
  }

  .viewPost {
    margin: 10px 0 0 25px;
  }

  .userLink {
    font-size: 48px;
  }

  .btn {
    margin: 0 25px 0 0;
    float: right;
  }

  .modal-dialog {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

.selectType {
  width: 372px;
}

.postbtn {
  position: absolute;
  right: 0;
}

.navItem {
  margin: 0 100px 0 100px;
  font-size: 18px;
}

.centerAddButton {
  margin: 0 245px 0 0;
}

.loginForm{
  background-color: rgb(192,192,192);
}

.loginbtn {
  margin: 0px;
}
